.custom-readonly{
    background: #e9ecef;
    pointer-events: none;
    touch-action: none;
}
.custom-obrigatorio::after {
    content: " *";
    color: red;
}
.custom-row {
    display: block;
    clear: both;
}
.custom-col-md-1, .custom-col-md-2, .custom-col-md-3 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0.5%;
}
.custom-col-md-1, .custom-col-md-2, .custom-col-md-3 > div {
    font-weight: bold;
}
.custom-col-md-1 {
  	min-width: 266px;
    max-width: 22%;
}  
.custom-col-md-2 {
    min-width: 266px;
    max-width: 25%;
}
.custom-col-md-3 {
    min-width: 500px;
    max-width: 50%;
}
.custom-btn-clear {
    position: relative;
    margin-bottom: 1.8%;
}
/*v 1.0*/